<div class="row">
  <div class="row">
    <div class="col-md-4">
      <h2><%= @topic.title %></h2>
    </div>
  </div>
  <div class="row">
    <% @bookmarks.each do |mark| %>
      <div class="col-sm-4">
         <%= mark.url %>
      </div>
    <% end %>
  </div>
 </div>
<%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger delete-topic', data: {confirm: 'Are you sure you want to delte this Topic?'} %>