<h2><%= link_to @topic.title, @topic %></h2>
  <% @topic.bookmarks.each do |bookmark| %>
    <%= render partial: "bookmarks/bookmark", locals: {bookmark: bookmark} %>
  <% end %>

  <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger delete-topic', data: {confirm: 'Are you sure you want to delte this Topic?'} %>
  <%= link_to "Add Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-info delete-topic' %>